.social{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.menu-social{
    list-style: none;
}

.facebook{
    transition: transform 2s;
}

.facebook:hover{
    transform: rotate(360deg);
}

.twitter{
    transition: transform 2s;
}

.twitter:hover{
    transform: rotate(360deg);
}

.instagram{
    transition: transform 2s;
}

.instagram:hover{
    transform: rotate(360deg);
}
.github{
    transition: transform 2s;
}

.github:hover{
    transform: rotate(360deg);
}
.linkedin{
    transition: transform 2s;
}

.linkedin:hover{
    transform: rotate(360deg);
}

